<form asp-action="Upload" enctype="multipart/form-data" method="post">
    <div>
        <label></label>
        <input type="file" name="file_name"/>
        <input type="submit" value="submit"/>
    </div>
</form>